---
const { responsiveWidth, height, bg, title } = Astro.props;
---

<div
  class={`text-2xl flex justify-center gap-2 items-center ${responsiveWidth} ${height} bg-card rounded-lg `}
>
  <div
    class={`z-20 flex items-center justify-center  ${bg} w-10 h-10 rounded-lg bg-opacity-20`}
  >
  <img src="/cursor.jpeg" alt="" class="w-[20px] h-[20px]">
  </div>
  <span class="z-30 text-sm font-medium text-black">{title}</span>
</div>
