@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {

    --background: 0 0% 99%;
    --foreground: 222.2 84% 4.9%;
    --custom-background-opacity: 225,235,235,0.9;

    --bg-grid-line-bg: hsla(0, 0%, 86%, 0.2);
    --bg-tint: #ebefea;

    --card: 200, 200, 200, 0.2;
    --card-foreground: 0 0% 80%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 50, 50, 50, 0.1;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 9%;
    --custom-background-opacity: 23,23,23,.99;

    --foreground: 210 40% 98%;
 
    --card: 75, 75, 75, 0.1;
    --card-foreground: 0 0% 20%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 13, 148, 136 , 0.1;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



body {
  font-family: 'Inter', sans-serif;
  background:
    linear-gradient(-90deg, var(--bg-grid-line-bg) 1px, transparent 1px),
    linear-gradient(var(--bg-grid-line-bg) 1px, transparent 1px), 
    linear-gradient(-90deg, var(--bg-grid-line-bg) 1px, transparent 1px),
    linear-gradient(var(--bg-grid-line-bg) 1px, transparent 1px),
    linear-gradient(transparent 3px, var(--bg-tint) 3px, var(--bg-tint) 78px, transparent 78px),
    linear-gradient(-90deg, #d7d7d7 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, var(--bg-tint) 3px, var(--bg-tint) 78px, transparent 78px),
    linear-gradient(#d7d7d7 1px, transparent 1px), 
    #f2f2f2;
  background-size:
    10px 10px,
    10px 10px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
}

