body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #000000;
  text-align: center;
  margin: 0;
}

h1 {
  color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 75px;
}

.cta-btn {
  background-color: #333;
  color: #FFF;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 40px;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.move-down {
  position: relative;
  top: 40px; /* 20 pixels more */
  max-width: 100%;
}

@media (max-width: 600px) {
  .move-down {
    max-width: 90%;
  }
  h1 {
      font-size: 50px;
  }

  .cta-btn {
      font-size: 12px;
      padding: 5px 5px;
  }
}
