:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-bottom: 50px;
    background-color: var(--bg-color);
    color: white;
    color: rgb(240, 240, 240);
    line-height:1.4;
    -webkit-text-size-adjust:100%;
    -moz-tab-size:4;
    -o-tab-size:4;
    tab-size:4;
    font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-feature-settings:normal;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 4;
}

.top-logo{
  width: 30%;
}



.logo {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 17px;
}

.topnav-background {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #2e2d2d;
  opacity: 90%;
  backdrop-filter: blur(10px);
  position: fixed;
  /* z-index: 3; */
}

.topnav-foreground {
  display: flex;
  background-color: #272727;
  justify-content: space-between;
  
  height: 100%;
  padding:  20px;
  /* z-index: 3; */
}

.links {
  margin-left: auto;
}

/* Style the links inside the navigation bar */
.links a {

  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 90px;
  text-decoration: none;
  font-size: 15px;
  font: weight 4px;
  transition: 0.4s;
  height: 26px;
}

/* Change the color of links on hover */
.links a:hover {
  background-color:#04AA6D;
  color: #f5f5f5;
  opacity: 30%;
  height: 26px;
  z-index: 10;
}

/* Add a color to the active/current link */
/* .links a.active {
  
  color: white;
} */

h1 {
    /* margin: 80px 620px 20px 620px; */
    margin: 0;
    /* text-align: center; */
    font-size: 60px;
}

h2 {
    display: inline;
    font-size: 30px;
}

h3 {
    /* margin: auto; */
    
    font-size: 15px;
    
}

ol {
    margin: 10px 620px;
}

.headings {
  display: inline-block;
  margin-left: 400px;
  color:#04AA6D
}

.intro {
    margin: 10px 620px;
    font-size: 15px;
}

.bout-me {
    margin: 0px 400px;
    font-size: 15px;
}

.sleep {
  text-align: center;

}

.sleep-logo {
  width: 5%;
}

.icon-bar {
  position: fixed;
  bottom: 0;
  height: 415px;
  width: 90px; /* Set a specific width */
  /* background-color: #555;  */
  margin-left: 50px;
  margin-bottom: 100px;
}

.icon-bar a {
  display: flex; /* Make the links appear below each other instead of side-by-side */
  justify-content: center;
  padding: 30px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; 
  font-size: 20px; /* Increased font-size */
}

.icon-bar a:hover {
  background-color: #04AA6D; /* Add a hover color */
  
  opacity: 30%;
}

hr.vert {
  position: fixed;
  bottom: 0;
  width: .1px;
  height: 100px;
  margin: 10px 94px;
  
}

hr.separator {
  margin-left: 10px;
  display: inline-block;
  width: 400px;
  border: 1.5px solid grey;
  border-radius: 8px;
}

.container {
  
  margin-bottom: 50px;
  display: flex;
  height: 80vh;
  
  justify-content: center;
  align-items: center;
}

.intro-container {
  
  margin-left: 50px;
  font-size: 60px;
  text-align: center;
}

.eye {
  
  display: inline-block;
  text-align: center;
  /* width: 50%; */
  margin-right: 0px;
}

.typing {
  color:#04AA6D;
  font-size: 50px;
}

.about-me {
  padding-top: 100px;
  display: inline-block;
}

.contact {
  margin-top: 200px;
  text-align: center;
}

.arrows {
  margin: 10px 0px 100px 845px;
  z-index: -1;
  width:10%;
}

.arrow {
  align-items: center;
  justify-content: center;
  left: 50%;
  right: 50%; 
  transform: translate(-50%, -50%);
  margin-left: 66%;
  
}

.arrow.active {
  display: none;
}

.arrow span {
  display: flex;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #20d39d;
  border-right: 5px solid #03ac82;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -.4s;
}


@keyframes scroll {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);

  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  transform: rotate(45deg) translate(10px, 10px);
  }
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;  
  width: 1000px;
  margin:auto
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: crosshair;
  display: flex;
  height: 130px;
  flex-direction: column;
  position: relative;
  width: 150px;  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.icons {
  color: rgb(206, 206, 207);
  /* font-size: 20px; */
}

.contact-icon {
  color: rgb(206, 206, 207);
  font-size: 50px;
}

i {  
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 3em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  
  /* padding: 0px 110px; */
}

.card-info {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: .5em;
}

.card-info > i {  
  font-size: .5em;
  height: 10px;
  line-height: 10px;
  width: 100%;
}

.card-info-title {
  font-size: .5em;
  line-height: 5px;
  width: 100%;
  text-align: center;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

@media(max-width: 1000px) {
  body {
    align-items: flex-start;  
    overflow: auto;
  }
  
  #cards {    
    max-width: 1000px;
    padding: 10px 0px;
  }
  
  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }
}

@media(max-width: 500px) {
  .card {
    height: 180px;
  }
  
  .card-image {
    height: 80px;  
  }
  
  .card-image > i {
    font-size: 3em;
  }
    
  .card-info-wrapper {
    padding: 0px 10px;
  }
  
  .card-info > i { 
    font-size: 0.8em; 
  }
  
  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media(max-width: 320px) {
  .card {
    width: 100%;
  }
}


@media(max-width: 320px) {
.hamburger {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 1%;
  transform: translateY(25%);
  right: 1.5em;
  z-index: 4;
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* ANIMATIONS */

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
}