*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  color: white;
}

li {
  list-style: none;
}

img {
  width: 70%;
}

a {
  text-decoration: none;
}

/* NAVBAR */

header {
  position:fixed;
}

html {
  scroll-behavior: smooth;
}

.logo-wrap {
  margin-left: 15px;
  padding: .5em 0;
  
}

.logo {
  
  font-size: 1.85rem;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  
}

.logo:hover {
  color: #f8ff92
}

.nav-ul {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #000000;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.3s ease;

}

.nav-li {
  font-size: 1rem;
  font-family: 'Bai Jamjuree', sans-serif;
}

.nav-ul.active {
  left: 0;
  overflow: hidden;
  z-index: 3;
}

.nav-a {
  color: white;
}

.hamburger {
  cursor: pointer;
  display: block;
  position: fixed;
  top: 1%;
  transform: translateY(25%);
  right: 1.5em;
  z-index: 4;
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* ANIMATIONS */

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* HERO */

/* .hero {
  display: flex;
  
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
} */

.container {
  /* margin-top: 100px; */
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Bai Jamjuree', sans-serif;
}

.intro-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Bai Jamjuree', sans-serif;

}



.tech-stack {
  align-items: right;
  padding-left: 40px; 
  padding-right: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
}

.about-me {
  /* display: box; */
  /* flex-direction: column; */
  align-items: center;
  padding-left: 40px; 
  padding-right: 40px;
}

/* TEXT STYLES */

.headings {
  color: #69dff1;
}

.headings-alt:last-of-type {
  color: #69dff1;
  text-align: right;
}

.h1 {
  font-weight: bold;
  margin-right: 100px;
  font-size: 3.5rem;
}

.func {
  margin-right: 40px;
  font-size: 1.5rem;
  
}

.body {
  margin-left: 80px;

  font-size: 1.5rem;
}

.cards {
  
  display: grid;
  text-align: center;
  gap: 20px;
  padding-top: 20px;
  /* position: relative; */
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(3, 1fr);
}

/* .python {
  grid-column-start: 1;
  grid-column-end: 1;
} */

.heroku {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.typed-cursor {
  color: black;
}

.class {
  color: #69dff1
}

.z {
  color: #8ef330
}

.arguments {
  color: #fa8e00
}

.left-bracket {
  color: white;
}

.right-bracket {
  color: white;
}

.equals {
  color: rgb(197, 15, 115);
}

.string {
  color: rgb(245, 219, 74);
  
  font-weight: bold;
}

.typing {
  font-size: 30px;
  font-weight: bolder;
  color:rgb(143, 112, 253)
}

.colon {
  color: white;
}

.arrow {
  align-items: center;
  justify-content: center;
  left: 50%;
  right: 50%; 
  transform: translate(-50%, -50%);
  margin-left: 67%;
  
}

.arrow.active {
  display: none;
}

.arrow span {
  display: flex;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -.4s;
}


@keyframes scroll {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);

  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  transform: rotate(45deg) translate(10px, 10px);
  }
}