:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --turq-color: rgb(4, 170, 109);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: rgb(240, 240, 240);
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-feature-settings: normal;
  overflow-x: hidden;
}

a {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-decoration: none;
  color:rgb(240, 240, 240)
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 33px;
}

header {
  height: 54.4px;
  display: flex;
  background: hsla(0, 0%, 9%, 0.45);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  /* opacity: 99%; */
  z-index: 1500;
  position: fixed;
  width: 100%;
}



nav {
  display: flex;
  width: 50%;
  position: fixed;
  right: 0;
  max-height: 100%;
}

.logo-wrapper {
  width: 50%;
  display: flex;

  align-items: center;
}

.logo {
  display: flex;
  width: 100px;
  height: 25px;
  padding-left: 20%;
}

.top-logo {
  max-width: 100%;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  float: right;
/*   
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px); */
  font-size: 16px;
}

.navigation a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 15px;
  font: weight 4px;
  transition: 0.4s;
  height: 20px;
  border-radius: 8px;
}

.navigation a:hover {
  background-color: var(--turq-color);
  color: #f5f5f5;
  opacity: 60%;
  height: 20px;
  z-index: 10;
  border-radius: 8px;
}


.mobile-nav { 
  display: none;
}

.mobile-icon {
  display: none;
}

main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}


.main-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 800px;
  justify-content: center;
  align-items: center;

}

.container-wrapper {
  height: 72vh;
}

.container {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.big-name {
  margin: 0;

}

.eye {
margin-bottom: 0;
padding: 20px;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
}



.typed-js {
  display: flex;
  margin: 0px;
  width: 175px;
}

.typing {
  margin: 0;
  color: var(--turq-color);
  padding-left: 12px;
}

.typed-cursor {
  /* margin-top: 4px; */
  font-size: 35px;
}

.about-me-wrapper {
  width: 980px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-me {
  padding-top: 80px;
  width: 100%;
}

.about-me-sep {
  display: flex;
  align-items: center;

  height: 50px;
}

.tech-separator {
  display: flex;
  align-items: center;

  height: 50px;
  margin-bottom: 20px;
}

.box-separator {
  margin-top: 10px;
  display: flex;
  width: 200px;
  height: 40px;
  align-items: center;
}

hr.about-separator {
  
  margin: 10px;
  width: 200px;
  height: 4px;
  background-color: #03ac82;
  border:#03ac82;
  opacity: 40%;
}

.bout-me {
  font-size: 17px;
}

.sleep {
  text-align: center;
  width: 100%;
}

.headings {
  color: var(--turq-color);
  font-size: 25px;
}

/* EXPERIENCE-SECTION */

.experience-wrapper {
  width: 980px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.experience {
  display: flex;
  padding-top: 80px;
  height: 75vh;
  width: 100%;
  flex-direction: column;
}

.exp-sep {
  display: flex;
  align-items: center;

  height: 50px;
  margin-bottom: 20px;
}

.slideshow {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  height: 500px;
  overflow: hidden;
}

.link-separator {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.big-vert {
  height: 2400px;
  width: 4px;
  background-color: #03ac82;
  border:#03ac82;
  opacity: 40%;
}

.slide-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50%; */
  line-height: 50px;
  text-align: center;
}

.mobile-slide-nav { 
  display: none;
}


.slides-wrapper {
  width: 50%;
  height: 400px;
  overflow: hidden;
  margin-top: 50px;
}

.slides {
  transition: all 0.3s;
}


.projects-wrapper {
  width: 980px;
}

.projects {
  padding-top: 60px;
}

.proj-sep {
  display: flex;
  align-items: center;

  height: 50px;
  margin-bottom: 20px;
}

.contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.desktop-icon {
  display: flex;
  flex-direction: column;
  width: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.icon-bar {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 40px;
  /* background-color: #555;  */

} 

.icon-bar a {
  display: flex;
  justify-content: center;
  padding: 5px;
  transition: all .5s ease;
  /* color: var(--bg-color);  */
  /* font-size: 30px; */
  border-radius: 50px; 
  /* width: 100px; */
  /* height: 50px; */
}

.icon-bar a:hover {
  /* width: 1px; */
  background-color: var(--turq-color);
  color: var(--turq-color);
  border-radius: 8px;
  opacity: 80%;
  transform: translateY(-5px);
  border-radius: 50px; 
}

.vert {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: .1px;
  height: 100px;
  /* margin: 10px 94px; */

}

i {
  color: rgb(240, 240, 240);
  font-size: 20px;
}

.big-icon {
  font-size: 30px;
}

.bigger-icon {
  font-size: 45px;
}

/* ARROWS-SECTIOn */

.arrows {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
}

.arrow {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-left: 66%;

}

.arrow.active {
  display: none;
}

.arrow span {
  display: flex;
  width: 20px;
  height: 20px;
  border-bottom: 9px solid #20d39d;
  border-right: 9px solid #03ac82;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
  border-radius: 3px;
}

.arrow span:nth-child(2) {
  animation-delay: -.2s;

}

.arrow span:nth-child(3) {
  animation-delay: -.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);

  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/* CARDS-SECTION */

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  width: 100%;
  margin: auto
}

#cards:hover>.card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: crosshair;
  display: flex;
  height: 130px;
  flex-direction: column;
  position: relative;
  width: 150px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.card>.card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.card-image {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
}

.card-image>i {
  font-size: 3em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;

  /* padding: 0px 110px; */
}

.card-info {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: .5em;
}

.card-info>i {
  font-size: .5em;
  height: 10px;
  line-height: 10px;
  width: 100%;
}

.card-info-title {
  font-size: .5em;
  line-height: 5px;
  width: 100%;
  text-align: center;
}

.card-info-title>h4 {
  color: rgb(216, 211, 211);
  font-size: 4em;
  margin-top: 8px;
}

/* BIG-CARDS-SECTION */

#big-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 300px;
  margin: auto;
  overflow: hidden;
}

#big-cards:hover>.big-card::after {
  opacity: 1;
}

.big-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: crosshair;
  /* display: flex; */
  height: 400px;
  /* flex-direction: column;   */
  position: relative;
  width: 350px;
}

.big-card:hover::before {
  opacity: 1;
}

.big-card::before,
.big-card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.big-card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.big-card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.big-card>.big-card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;

  position: absolute;
  z-index: 2;
}

.big-card-image {
  display: inline-block;
  text-align: center;
  height: 60px;
  justify-content: space-around;
  overflow: hidden;
  margin: 10px;
}

.big-card-info-wrapper {
  display: flex;
  flex-grow: 1;
}

.big-card-info {
  width: 100%;
  text-align: center;
  font-size: 1em;

}

.big-card-info>i {
  font-size: 5em;
  height: 10px;
  line-height: 1px;
  width: 100%;
}

.big-card-info-title>h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
  margin-top: 8px;
}

/* MED-CARD-SECTION */

#med-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  width: 100%;
  margin-top: 20px;
}

#med-cards:hover>.med-card::after {
  opacity: 1;
}

.med-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: crosshair;
  display: flex;
  height: 350px;
  flex-direction: column;
  position: relative;
  width: 299px;
}

.med-card:hover::before {
  opacity: 1;
}

.med-card::before,
.med-card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.med-card::before {
  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%);
  z-index: 3;
}

.med-card::after {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%);
  z-index: 1;
}

.med-card>.med-card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.med-card-image {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  overflow: hidden;
}

.med-card-image>i {
  font-size: 3em;
  opacity: 0.25;
}

.med-card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.med-card-info {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: .5em;
}

.med-card-info>i {
  font-size: .5em;
  height: 10px;
  line-height: 10px;
  width: 100%;
}

.med-card-info-title {
  font-size: .5em;
  line-height: 5px;
  width: 100%;
  text-align: center;
}

.med-card-info-title>h4 {
  color: rgb(216, 211, 211);
  font-size: 4em;
  margin-top: 8px;
}


@media (min-width: 66em) and (max-width: 75.5em) {
  
  .desktop-icon {
    display: none;
  }

  .mobile-icon {
    display: flex;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 20px;
    justify-content: center;
  }

  .mobile-icon-bar {
    width: 450px;
    display: flex;
    justify-content: space-evenly;
  }

  .mobile-icon-bar a {
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: all .5s ease;
    /* color: var(--bg-color);  */
    /* font-size: 30px; */
    border-radius: 50px; 
    /* width: 100px; */
    /* height: 50px; */
  }
  
  .mobile-icon-bar a:hover {
    /* width: 1px; */
    background-color: var(--turq-color);
    color: var(--turq-color);
    border-radius: 8px;
    opacity: 80%;
    transform: translateY(-5px);
    border-radius: 50px; 
  }

  .about-me-wrapper {
    width: 970px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}

@media (max-width: 66em) {
  
  .desktop-icon {
    display: none;
  }

  .mobile-icon {
    display: flex;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 20px;
    justify-content: center;
  }

  .mobile-icon-bar {
    width: 450px;
    display: flex;
    justify-content: space-evenly;
  }

  .mobile-icon-bar a {
    display: flex;
    justify-content: center;
    padding: 5px;
    transition: all .5s ease;
    /* color: var(--bg-color);  */
    /* font-size: 30px; */
    border-radius: 50px; 
    /* width: 100px; */
    /* height: 50px; */
  }
  
  .mobile-icon-bar a:hover {
    /* width: 1px; */
    background-color: var(--turq-color);
    color: var(--turq-color);
    border-radius: 8px;
    opacity: 60%;
    transform: translateY(-5px);
    border-radius: 50px; 
  }

  .hamburger {
    z-index: 9999;
    width: 50px;
    cursor: pointer;
    display: block;
    position: fixed;
    top: .2em;
    transform: translateY(25%);
    right: 3em;
    /* padding-top: 2px; */
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    
  }

  /* ANIMATIONS */

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navigation {
    display: none;
  }



  .mobile-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 50%;
    height: 100vh;
    gap: 5em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transform: translateX(100%);
    transition: transform 350ms ease;
    list-style: none;
    justify-content: center;
    width: 100%;
    float: right;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
  }

  .mobile-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    font: weight 4px;
    transition: 0.5s;
    height: 26px;
    border-radius: 8px;
  }

  .mobile-nav a:hover {
    background-color: var(--turq-color);
    color: #f5f5f5;
    opacity: 60%;
    height: 26px;
    z-index: 10;
    border-radius: 8px;
    padding: 2px;
  }

  .main-container {
    width: 90%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0px;
  }

  .about-me-wrapper {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;

  }

  /* .about-me {
    max-width: 90%;
  } */

  hr.about-separator {
    margin: 10px;
    width: 30%;
    height: 4px;
    background-color: #03ac82;
    border:#03ac82;
    opacity: 40%;
  }

  .experience-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 85vh;
  }

  .exp-sep {
    margin: 0;
  }

  .vert-bar {
    display: none;
  }

  .slides-wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-top: 0;
  }

  .slide-nav {
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vh;
    
    justify-content: space-around;
    z-index: 10;
    /* height: 20px; */
    display: none;
  }

  .mobile-slide-nav {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    
    justify-content: space-around;
    z-index: 10;
  }
  
  .slides {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 150vh; */
    transition: all 0.3s;
    /* margin-top: 700px; */
  }

  .slideshow {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 460px;
    overflow: visible;
    margin-top: 0px;
  }

  .link-separator {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  .projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    /* margin-bottom: 1480px; */
  }

  .big-card {
    width: 300px;
    height: 400px;
  }


  
}