@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #69dff1;
    --color-heading: #eef3db;
    --color-base: #000000;
    --color-base2: #000000;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree"
}

body {
  background-color: var(--color-base2);
  color: var(var(--color-body));
  font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--color-heading);
  font-weight: 700;
}

.row h1, .row p {
  display: inline;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}


/* .full-height {
  min-height: 100vh;
  height: 100%;
} */

/* NAVBAR MOBILE*/


@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 5rem;
}
  
.navbar {
  background-color: var(--color-base2);
}

.navbar-nav .nav-link {
  margin-right: 0;
  margin-bottom: 3rem;
  }
  /* CONTENT WRAPPER */
  #content-wrapper {
    display: flex;
    justify-content: left;
    margin-top: 200px;
    margin-left: 50px;
  }

  .h2 {
    margin-left: 20px;
  }

  .h2-a {
    margin-left: 40px;
  }
}

.navbar-nav .nav-link:hover {
  color: var(--color-brand)
}

/* NAVBAR DESKTOP */

@media (min-width: 769px) {
  .navbar-nav {
    margin-top: 0rem;

  }

  .navbar-nav .nav-link {
    margin-right: 3rem;
    padding:0rem;
    }

  #content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-right:50px
  }

  .h2 {
    margin-left: 20px;
  }

  .h2-a {
    margin-left: 40px;
  }
}

.class {
  color: #69dff1
}

.z {
  color: #8ef330
}

.arguments {
  color: #fa8e00
}

.left-bracket {
  color: white;
}

.right-bracket {
  color: white;
}

.equals {
  color: rgb(197, 15, 115);
}

.string {
  color: rgb(245, 219, 74);
}