---
import Layout from "../layouts/Layout.astro";
import MainComponent from "../components/MainComponent.astro";
---

<Layout>
  <main
    class="w-full flex flex-col justify-evenly items-center mt-8 sm:mt-8 min-h-screen"
    id="target"
  >
    <MainComponent />
  </main>
</Layout>
