---
export const partial = true;

const socials = {
  linkedin: "https://www.linkedin.com/in/zach-flentge-wong/",
  github: "https://github.com/idkzsh",
  twitter: "https://x.com/idkzsh",
  instagram: "https://instagram.com/idkzsh",
  spotify: "https://open.spotify.com/user/12181895287?si=f398c70cc72c406b",
};
---

<title>idkz - links</title>
<div class="flex flex-col justify-center items-center w-full gap-4 mb-4">
  <img src="/gofer.jpg" class="w-36 h-36 rounded-full mt-4 object-cover" alt="" />
  <div
    class="flex flex-col gap-3 p-4 w-full sm:w-auto rounded-md border shadow-lg bg-largecard"
  >
    <div
      class="flex justify-center items-center sm:w-[350px] h-14 bg-gray-50 border rounded-md text-black gap-2 hover:opacity-80 cursor-pointer"
      hx-get="/main"
      hx-trigger="click"
      hx-target="#target"
      hx-swap="innerHTML swap:.3s transition:true"
    >
      <img src={"/globe.svg"} alt="" />
      Website
    </div>
    {
      Object.entries(socials).map(([platform, url]) => (
        <a href={url} target="_blank">
          <div class="flex justify-center items-center sm:w-[350px] h-14 bg-gray-50 border rounded-md text-black gap-2 hover:opacity-80">
            <img src={"/" + platform + ".svg"} alt="" />
            {platform}
          </div>
        </a>
      ))
    }
    <details class="flex justify-center items-center sm:w-[350px]">
      <summary class="flex justify-center items-center sm:w-[350px] bg-gray-50 dark:bg-gray-800 border rounded-md text-black dark:text-white cursor-pointer h-14 hover:opacity-80">
        <img src={"/bitcoin.svg"} alt="" />
        send me bitcoins
      </summary>
      <div class="flex flex-col justify-center items-center p-4">
        <img src={"/btc_wallet.png"} alt="" class="rounded-md w-[280px] h-[280px]" />
        <div class="relative group w-[280px]">
          <code class="bg-gray-600 text-white p-4 mt-2 rounded text-xs break-all text-center block">bc1qgqqp02hggxeqrwuwcs4dvjadheyrujj8lmnwxy</code>
          <button 
            class="absolute bottom-2 right-2 p-1 hover:bg-gray-700 rounded"
            onclick="navigator.clipboard.writeText(this.previousElementSibling.textContent.trim()); this.querySelector('svg').style.display='none'; this.querySelector('span').style.display='block'; setTimeout(() => {this.querySelector('svg').style.display='block'; this.querySelector('span').style.display='none'}, 2000)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
            </svg>
            <span class="hidden text-white text-sm">Copied!</span>
          </button>
        </div>
      </div>
    </details>
  </div>
</div>
