---
export const partial = true;

const socials = {
  linkedin: "https://www.linkedin.com/in/zach-flentge-wong/",
  github: "https://github.com/idkzsh",
  twitter: "https://x.com/idkzsh",
  instagram: "https://instagram.com/idkzsh",
  spotify: "https://open.spotify.com/user/12181895287?si=f398c70cc72c406b",
};
---

<title>idkz - links</title>
<div class="flex flex-col justify-center items-center w-full gap-4">
<img src="/gengar.png" class="w-[100px] h-[100px] rounded-full mt-4" alt="">
  <div
    class="flex flex-col gap-3 p-4 w-full sm:w-auto rounded-md border shadow-lg bg-largecard"
  >
    <div
      class="flex justify-center items-center sm:w-[350px] h-14 bg-gray-50 border rounded-md text-black gap-2 hover:opacity-80 cursor-pointer"
      hx-get="/main"
      hx-trigger="click"
      hx-target="#target"
      hx-swap="innerHTML swap:.3s transition:true"
    >
    <img src={"/globe.svg"} alt="" />
      Website
    </div>
    {
      Object.entries(socials).map(([platform, url]) => (
        <a href={url} target="_blank">
          <div class="flex justify-center items-center sm:w-[350px] h-14 bg-gray-50 border rounded-md text-black gap-2 hover:opacity-80">
            <img src={"/" + platform + ".svg"} alt="" />
            {platform}
          </div>
        </a>
      ))
    }
  </div>
</div>
