---
export const partial = true;

const socials = {
  linkedin: "https://www.linkedin.com/in/zach-flentge-wong/",
  github: "https://github.com/i-dkz",
  twitter: "https://x.com/idkzca",
  instagram: "https://instagram.com/idkzca",
  spotify: "https://open.spotify.com/user/4djpn5qmz682f8zitccyfljde",
};
---

<title>idkz - links</title>
<div class="flex justify-center items-center w-full h-[70vh] gap-4">
  <div class="flex flex-col gap-3 p-4 w-full sm:w-auto rounded-md border shadow-lg bg-largecard">
    {
      Object.entries(socials).map(([platform, url]) => (
        <a href={url} target="_blank">
          <div class="flex justify-center items-center sm:w-[350px] h-14 bg-card rounded-md text-black gap-2 hover:opacity-110">
            <img src={"/" + platform + ".svg"} alt="" />
            {platform}
          </div>
        </a>
      ))
    }
  </div>
</div>
