---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <title>terminal</title>
  <div
    class="flex flex-col w-full border-gray-400 border h-80 rounded-md bg-gray-900 text-xs text-white overflow-hidden"
  >
    <div
      class="w-full bg-gray-300 items-center flex h-6 justify-between px-2 text-black"
    >
      <div class="flex items-center h-full gap-2">
        <div class="rounded-full h-[12px] w-[12px] bg-red-400 border-red-900">
        </div>
        <div
          class="rounded-full h-[12px] w-[12px] bg-yellow-500 border-yellow-900"
        >
        </div>
        <div
          class="rounded-full h-[12px] w-[12px] bg-green-500 border-green-900"
        >
        </div>
      </div>
      <div>idkzsh</div>

      <div class="flex items-center h-full gap-2"></div>
    </div>
    <div class="nerdfont p-1">
      <span class="text-teal-400">$ ~ </span>orem ipsum dolor sit amet
      consectetur, adipisicing elit. Sunt quasi culpa in soluta nulla inventore
      enim. In nesciunt, ipsum placeat magni itaque aliquid pariatur ut
      delectus, eaque earum culpa repudiandae!
    </div>
  </div>
</Layout>
