---
import ProjectCard from "../../components/ProjectCard.astro"
export const partial = true;

---
<div class="w-full flex flex-wrap gap-8 justify-center">
    <ProjectCard title="Loading..."/>
    <ProjectCard title="Loading..."/>
    <ProjectCard title="Loading..."/>
    <ProjectCard title="Loading..."/>
</div>