---
import ProjectCard from "../../components/ProjectCard.astro"
export const partial = true;

---
<div class="w-full flex flex-wrap gap-8">
    <ProjectCard title="nxtStore E-commerce App"/>
    <ProjectCard title="Gameplus"/>
    <ProjectCard title="nxtStore E-commerce App"/>
    <ProjectCard title="nxtStore E-commerce App"/>
</div>