---
import ProjectCard from "../../components/ProjectCard.astro"
export const partial = true;

---
<div class="w-full flex flex-wrap gap-8 justify-center">
    <ProjectCard title="nxtStore E-commerce App" img="/ecomm.jpg"/>
    <ProjectCard title="Gameplus" img="/gameplus.png"/>
    <ProjectCard title="Loading..."/>
    <ProjectCard title="Loading..."/>
</div>