---
const responses: Record<string, string> = {
  "Hi": "Hello there"
};

export const partial = true;

let data;
try {
data = await Astro.request.formData();
 } catch {
  console.log("error")
}


let count = Number(data?.get('count'))
let lastInput = String(data?.get(`terminalInput${count}`))
console.log(lastInput, count)
count++;
---
<div class="flex">
  <span class="text-teal-400 pr-2">$ ~ </span>
  <span class="w-[90%]">{lastInput}</span>
</div>
<span class="w-[90%]">{responses[lastInput] ? responses[lastInput] : "invalid command"}</span>
 <input type="hidden" name="count" value={count}>
