---
import TechStack from "./TechStack.astro";

---

<title>idkz</title>
<div class="w-full flex flex-col justify-evenly items-center mt-8 sm:mt-8 min-h-screen">
    <div
      class="flex w-full items-center flex-wrap justify-center sm:justify-between"
    >
    
      <div class="flex flex-col gap-4 w-[380px] lg:w-[560px]">
    
        <div class="flex flex-col">
          <h1 class="flex flex-wrap text-primary gap-2 text-9xl sm:text-8xl font-extrabold tracking-tighter justify-center sm:justify-normal">
            Zach <span class="flex text-gradient h-[10rem] sm:h-[7rem] ">Wong</span>
          </h1>
          <span class="text-4xl font-bold tracking-tighter">Full-Stack Developer</span>
          <p>I'm a developer based out of Vancouver, BC. Canada</p>
          <p>
            I like exploring new technologies and building minimal, fast, and reliable
            tools and web/mobile apps.
          </p>
        </div>
        <p>Currently CST @ BCIT / DIMS @ BestBuy</p>

      </div>
      <img
      src="/memoji.png"
      class="w-[110px] h-[145px] sm:w-[150px] sm:h-[195px] mt-8 sm:mt-0"
    />
    </div>
    
    <TechStack />
  </div>
