---
import "../global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Modal from "../components/Modal.astro";


const userAgent = Astro.request.headers.get('user-agent') || '';
const isMobile = /mobile|android|iphone|ipad|ipod/i.test(userAgent);


console.log(isMobile ? "You're on mobile" : "You're on desktop")


let {title} = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org@1"></script>
    <title>{Astro.url.pathname == "/" ? "idkz" : title}</title>
  </head>

  <body
    class="bg-background flex justify-between items-center flex-col min-h-screen"
    data-theme="light"
  >
    <div
      class="flex flex-col w-[360px] sm:w-[600px] md:w-[765px] lg:w-[860px] p-2 min-h-screen flex-wrap justify-between items-center"
    >
      <Header />
      <Modal />
      <slot />
      <Footer />
    </div>
  </body>
</html>
